body{
  margin: 0;
}

.relleno{
  width: 100%;
  height: 200px;
  background-color: #94eac1;
}

.divisor{
  width: 100%;
  height: 15vh;
  margin-top: -7.5vh;
  background-size: contain;
  background-position: center;
}

.flex-section{
  width: 90%;
  margin: auto;
}

.image-title{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

