body{
  margin: 0;
}

.relleno{
  width: 100%;
  height: 200px;
  background-color: #94eac1;
}

/* separador de section */

.divisor{
  width: 100%;
  height: 15vh;
  margin-top: -7.5vh;
  background-size: contain;
  background-position: center;
}

/* contenedor del section */

.flex-section{
  width: 90%;
  margin: auto;
}

/* galeria de videos */

.grid-gallery{
  margin: 40px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(206px , 1fr));
  gap: 10px;
}

.grid-gallery{
  margin: 40px 0;
}

/* estilos de carta */
.image-title{
  display: flex;
  justify-content: center;
  margin: 20px 0 40px 0;
}

.card{
  max-width: 360px;
  width: 100%;
}

.card .animation{
  position: relative;
}

.card img{
  width: 100%;
  display: block;
  margin-bottom: 8px;
  transition: .3s;
}

.card .background-color{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1B1C20;
  opacity: 0;
  transition: .4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .play{
  width: 20%;
  height: 24%;
  position: absolute;
  margin: 0;
  transform: translate(0, 40px);
}

.card-description{
  font-family: Oswald;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.25;
  color: #1B1C20;
  margin: 5px 0;
}

.card-rating{
  font-family: Oswald;
  font-size: 14px;
  font-weight: 400;
  color: #757575;
}

/* effectos de carta */

.card .animation:hover .background-color{
  opacity: 1;
}

.card .animation:hover .play{
  transform: translate(0,0);
}